html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 38%;
    height: 70%;
    box-shadow: 10px 10px 10px rgb(221, 213, 178);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(246, 242, 199);
}

#display {
    width: 100%;
    height: 15%;
    background: rgb(237, 238, 240);
    border: 1px solid rgba(164, 168, 180, 0.493);
    box-shadow: 0px 0px 20px rgb(246, 235, 188) inset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 450%;
    text-align: right;
}

.number, .operator, .button {
    width: 25%;
    height: 17%;
    position: relative;
    overflow: hidden;
    line-height: 17%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgb(240, 231, 192);
    font-size: 300%;
    border-radius: 20px;
    border: 2px solid rgb(174, 222, 250);
    color: rgba(5, 5, 5, 0.493);
    background-color: rgba(235, 234, 233, 0.959);
}

.button {
    background-color: rgb(245, 192, 192);
    color: rgb(73, 88, 68)
}

.button:hover{
    background-color:rgb(233, 122, 122);
    color: rgb(170, 247, 162);
}

.number:hover {
    background-color:rgb(143, 184, 231);
    color: rgb(255, 255, 255);
}

.number::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #666 10%, transparent 10%);
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s;
}

.number:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
}

.operator {
    font-family: 'Courier New', Courier, monospace;
    font-size: 600%;
    color: rgb(250, 250, 250);
    background-color: rgb(248, 189, 26);
}

.operator:hover {
    font-size: 700%;
    color: rgb(51, 63, 83);
    background-color: rgb(223, 144, 18);
}